<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Sphero Docs | {{title}}</title>

  <!-- jQuery -->
  <script src="{{assets}}/js/jquery-1.11.1.min.js"></script>

  <!-- Let me embed vines -->
  <script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{assets}}/sphero.ico" type="image/x-icon" />

  <!-- Vendor theme mods -->
  <script src="{{assets}}/js/jquery-styling.js"></script>
  <script src="{{assets}}/js/prettify.js"></script>

  <!-- Sphero theme mods -->
  <link href="{{assets}}/css/style.css" rel="stylesheet">

  <!-- Meta -->
  <meta content="Sphero" property="og:title">
  <meta content="Documentation for Sphero" name="description">

</head>
<body role="flatdoc">

  <div id="docs">
    <header class="large-12 columns navigation">
      <div class="left">
        <a href="/"><img src="{{assets}}/images/spheromark.png" id="logo"></a>
        <a href="/sphero/start">Sphero</a>
        <a href="/ollie/start">Ollie</a>
      </div>
      <div class="right">
        <div class="home-button">
          <div class="ion-arrow-left-c"></div>
          <a href="http://gosphero.com">gosphero.com</a>
        </div>
        <div class="home-button">
          <div class="ion-ios7-cart-outline"></div>
          <a href="http://gosphero.com">Shop</a>
        </div>
        <a href="https://github.com/orbotix/DeveloperDocumentation/edit/master/src/content/{{basename}}.md" class="button">Edit this page</a>
      </div>
      <!-- <section class="page-title-section"> {{page.title}} </section>-->
    </header>

    <div class="content-root" data-spy="scroll" data-target="#toc">
      <div class="menubar">
        <div class="menu section" role="flatdoc-menu">
          <ul>
            {{#withSort pages "data.order"}}
              <li><a href="/{{../platform}}/{{basename}}" class="level-0 {{#compare basename "===" ../basename}}active{{/compare}}">{{data.title}}</a></li>
            {{/withSort}}
          </ul>
        </div>
        <div class="menu section" role="flatdoc-menu">
          <ul id="toc">
          </ul>
        </div>
      </div>
      <div role="flatdoc-content" class="content">
        {{#markdown}}
          {{> body}}
        {{/markdown}}
      </div>
    </div>
  </div>

  <footer class="large-12 columns site-footer">
    <div class="border-top"></div>
    <div class="footer-menu large-3 columns">
      Connect with Sphero
      <ul class="sub-menu social clear">
        <li><a class="twitter" href="https://twitter.com/intent/follow?screen_name=gosphero" target="blank"></a></li>
        <li><a class="facebook" href="http://www.facebook.com/GoSphero" target="blank"></a></li>
        <li><a class="google" href="https://plus.google.com/+sphero" target="blank"></a></li>
        <li><a class="instagram" href="http://instagram.com/gosphero" target="blank"></a></li>
        <li><a class="pinterest" href="http://pinterest.com/sphero/pins/" target="blank"></a></li>
        <li><a class="youtube" href="http://www.youtube.com/gosphero" target="blank"></a></li>
        <li><a class="tumblr" href="http://gosphero.tumblr.com/" target="blank"></a></li>
      </ul>

      <div class="high-rollers-club">
        <h4>Join the Sphero High Rollers Club</h4>
        <form>
          <input class="high-roller">
          <button type="submit" class="high-roller" type="submit">GO</button>
        </form>
      </div>
    </div>

    <div class="footer-menu large-2 columns">
      Products
      <ul class="sub-menu">
        <li><a href="http://www.gosphero.com/sphero-2-0/">Sphero</a></li>
        <li><a href="http://www.gosphero.com/ollie/">Ollie</a></li>
        <li><a href="http://www.gosphero.com/retail-partners/">Retail Partners</a></li>
      </ul>
    </div>

    <div class="footer-menu large-2 columns">
      Company
      <ul class="sub-menu">
        <li><a href="http://www.gosphero.com/company/">About Us</a></li>
        <li><a href="http://www.gosphero.com/company/contact/">Contact Us</a></li>
        <li><a href="http://www.gosphero.com/company/jobs/">Jobs</a></li>
        <li><a href="http://www.gosphero.com/company/press-kit/">Press Kit</a></li>
      </ul>
    </div>

    <div class="footer-menu large-2 columns">
      Other Stuff
      <ul class="sub-menu">
        <li><a href="http://www.gosphero.com/c">Compatible Devices</a></li>
        <li><a href="https://developer.gosphero.com/">Developers</a></li>
        <li><a href="http://www.gosphero.com/blog/">Blog</a></li>
        <li><a href="http://community.gosphero.com/">Community</a></li>
      </ul>
    </div>

    <div class="support-contact large-3 columns">
      <a class="footer-button" href="#">Support</a>
      <a class="footer-button" href="#">Live Support Online</a>
      <div class="vcard">
        <span><a class="email uppercase" href="mailto:info@gosphero.com">info@gosphero.com</a></span>
        <span><a class="tel uppercase" href="tel:+13035029466">+1 (303) 502-9466</a></span>
        <span class="hours">Mon-Fri 8am-6pm MST</span>
      </div>
    </div>

    <hr>

    <div class="site-info">
      <div class="left">
        <span>© 2014 Sphero</span>
        <span class="divider">·</span>
        <span>All Rights Reserved</span>
      </div>
      <div class="right">
        <span><a href="http://www.gosphero.com/privacy/">Privacy &amp; Terms</a></span>
        <span class="divider">·</span>
        <span><a href="http://www.gosphero.com/returns-and-warranty/">Returns &amp; Warranty</a></span>
        <span class="divider">·</span>
        <span class="footer_language_list">
          <div class="current">
            <span class="icl_lang_sel_current">English</span>
            <img src="http://orbotix.wpengine.netdna-cdn.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png" height="12" alt="en" width="18" class="country_flag">
          </div>
          <select onchange="location=this.options[this.selectedIndex].value;">
            <option selected="selected">English</option>
            <option value="http://www.gosphero.com/de/">Deutsch (German)</option>
            <option value="http://www.gosphero.com/es/">Español (Spanish)</option>
            <option value="http://www.gosphero.com/fr/">Français (French)</option>
            <option value="http://www.gosphero.com/it/">Italiano (Italian)</option>
            <option value="http://www.sphero.jp">日本語 (Japanese)</option>
            <option value="http://www.gosphero.com/zh-hans/">简体中文 (Chinese (Simplified))</option>
          </select>
        </span>
      </div>
    </div>
  </footer>

  <!-- Custom -->
  <script src="{{assets}}/js/docs.js"></script>

</body>
</html>
