---
date: <%= new Date() %>
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Sphero Docs | {{title}}</title>

    <!-- jQuery -->
    <script src="{{assets}}/js/jquery-1.11.1.min.js"></script>

    <!-- Styles-->
    <link href="{{assets}}/css/style.css" rel="stylesheet">

    <!-- Let me embed vines -->
    <script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{assets}}/sphero.ico" type="image/x-icon" />

    <!-- Vendor theme mods -->
    <script src="{{assets}}/js/jquery-styling.js"></script>
    <script src="{{assets}}/js/prettify.js"></script>

    <!-- Sphero theme mods -->

    <!-- Magnific Popup CSS and JS files -->
    <link rel="stylesheet" href="{{assets}}/css/magnific-popup.css">
    <script src="{{assets}}/js/jquery.magnific-popup.min.js"></script>

    <!-- Meta -->
    <meta content="Sphero" property="og:title">
    <meta content="Documentation for Sphero" name="description">

  </head>
  <body role="flatdoc">
    <div id="site-wrapper">
      <div id="site-canvas">
        {{> mobile-nav}}
        <div id="docs">
          <header class="large-12 columns navigation always-show">
            <div class="left-side">
              <a href="http://www.gosphero.com"><img src="{{assets}}/images/spheromark.png" id="logo"></a>
            </div>
            <div class="right-side">
              <div class="home-button">
                <div class="ion-ios7-cart-outline"></div>
                <a href="http://store.gosphero.com">Shop</a>
              </div>
            </div>
          </header>
          <div class="content-root" data-spy="scroll" data-target="#toc">
            <div class="menubar">
              <div class="menu section" role="flatdoc-menu">
                <ul>
                  <li class="level-0">Sphero Robot Basics</li>
                    {{#withSort pages "data.order"}}
                      <ul>
                        {{#is data.section "Sphero Robot Basics"}}
                        <li class="level-1"><a href="/sphero-robot-basics/{{basename}}">{{data.title}}</a></li>
                          {{#if data.subsections.length}}
                            <ul>
                              {{#each data.subsections}}
                                <li class="level-2"><a href="/sphero-robot-basics/{{../basename}}">{{.}}</a></li>
                              {{/each}}
                            </ul>
                          {{/if}}
                        {{/is}}
                      </ul>
                    {{/withSort}}
                  <li class="level-0">SPRK - EDU</li>
                    {{#withSort pages "data.order"}}
                      <ul>
                        {{#is data.section "SPRK - EDU"}}
                        <li class="level-1"><a href="/sprk-edu/{{basename}}">{{data.title}}</a></li>
                          {{#if data.subsections.length}}
                            <ul>
                              {{#each data.subsections}}
                              <li class="level-2"><a href="/sprk-edu/{{../basename}}">{{.}}</a></li>
                              {{/each}}
                            </ul>
                          {{/if}}
                        {{/is}}
                      </ul>
                    {{/withSort}}
                  <li class="level-0">SDK</li>
                    {{#withSort pages "data.order"}}
                      <ul>
                        {{#is data.section "SDK Documentation"}}
                          <li class="level-1"><a href="/sdk-documentation/{{basename}}">{{data.title}}</a></li>
                          {{#if data.subsections.length}}
                            <ul>
                              {{#each data.subsections}}
                                <li class="level-2"><a href="/sdk-documentation/{{../basename}}">{{.}}</a></li>
                              {{/each}}
                            </ul>
                          {{/if}}
                        {{/is}}
                      </ul>
                    {{/withSort}}
                  <li class="level-0">API Reference</li>
                    {{#withSort pages "data.order"}}
                      <ul>
                        {{#is data.section "API Reference"}}
                        <li class="level-1"><a href="/api-reference/{{basename}}">{{data.title}}</a></li>
                          {{#if data.subsections.length}}
                            <ul>
                              {{#each data.subsections}}
                                <li class="level-2"><a href="/api-reference/{{../basename}}">{{.}}</a></li>
                              {{/each}}
                            </ul>
                          {{/if}}
                        {{/is}}
                      </ul>
                    {{/withSort}}
                </ul>
              </div>
            </div>
            <div role="flatdoc-content" class="content" id="content">
              {{#is section "SDK Documentation"}}
                <ul class="language-picker">
                  <li class="language"><a href="#objective-c" data-language="objective-c" class="button">Objective-C</a></li>
                  <li class="language"><a href="#swift" data-language="swift" class="button">Swift</a></li>
                  <li class="language"><a href="#java" data-language="java" class="button">Java</a></li>
                  <li class="language"><a href="#js" data-language="javascript" class="button">JavaScript</a></li>
                </ul>
              {{/is}}
              <h1>{{title}}
                <a href="https://github.com/orbotix/DeveloperDocumentation/edit/10-rework-partial-structure/src/content/{{slugify section}}/{{slugify title}}" class="edit-link"><span class="ion-edit"></span></a>
              </h1>
              {{#markdown}}
              {{> body}}
              {{/markdown}}
            </div>
          </div>
        </div>
        {{> footer}}
      </div>
    </div>

    <!-- Custom -->
    <script src="{{assets}}/js/docs.js"></script>
    <script src="{{assets}}/js/mobile-nav.js"></script>
  </body>
</html>
