<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>Sphero Docs | {{title}}</title>

  <!-- jQuery -->
  <script src="{{assets}}/js/jquery-1.11.1.min.js"></script>

  <!-- Let me embed vines -->
  <script async src="//platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{assets}}/sphero.ico" type="image/x-icon" />

  <!-- Vendor theme mods -->
  <script src='{{assets}}/js/jquery-styling.js'></script>
  <script src='{{assets}}/js/prettify.js'></script>
  <!-- <script src='{{assets}}/js/scrollspy.js'></script> -->

  <!-- Sphero theme mods -->
  <link href='{{assets}}/css/style.css' rel='stylesheet'>
  <script src='{{assets}}/js/animated-core.js'></script>

  <!-- Meta -->
  <meta content="Sphero" property="og:title">
  <meta content="Documentation for Sphero" name="description">

</head>
<body role='static'>
  <header>
    <a href="/">
      <img src="{{assets}}/images/spheromark.png" id="logo">
    </a>

    <a href="/sphero">Sphero</a>
    <a href="/ollie">Ollie</a>
  </header>

  {{> body}}

  <footer>
    <div class="connect-with-sphero">
      <h2> Connect with Sphero </h2>

      <a href="https://twitter.com/gosphero">
        <img src="" alt="Twitter">
      </a>

      <a href="">
        <img src="" alt="Facebook">
      </a>

      <a href="">
        <img src="" alt="Google+">
      </a>

      <a href="">
        <img src="" alt="Instagram">
      </a>

      <a href="">
        <img src="" alt="Pinterest">
      </a>

      <a href="">
        <img src="" alt="YouTube">
      </a>

      <a href="">
        <img src="" alt="Tumblr">
      </a>
    </div>

    <div class="high-rollers-club">
      <h2> Join the Sphero High Rollers Club </h2>

      <form>
        <input type="email">
        <input type="submit" value="Go">
      </form>
    </div>

    <div class="products">
      <h2> Products </h2>

      <ul class="unstyled">
        <a href="">Sphero</a>
        <a href="">Ollie</a>
        <a href="">Retail Partners</a>
      </ul>
    </div>

    <div class="company">
      <h2> Company </h2>

      <ul class="unstyled">
        <a href="">About Us</a>
        <a href="">Contact Us</a>
        <a href="">Jobs</a>
        <a href="">Press Kit</a>
      </ul>
    </div>

    <div class="other-stuff">
      <h2> Other Stuff </h2>

      <ul class="unstyled">
        <a href="">Compatible Devices</a>
        <a href="">Developers</a>
        <a href="">Blog</a>
        <a href="">Community</a>
      </ul>
    </div>
  </footer>
</body>
</html>
